table {
    width: 100%;
}
.linha-clicavel{
    color:rgb(228, 178, 40);
    font-size: 40px;
}
.linha-clicavel:hover{
    color:rgb(155, 194, 48);
}
.some-tabela-mobile{
    visibility: collapse;
}

@media screen and (max-width: 768px){
    .some-tabela-desktop{
        display: none;
    }
    .some-tabela-mobile{
        visibility: inherit;
    }
}