<mat-card>

    <h2>Cadastro de visitante</h2>
    <hr>
    <form (ngSubmit)="onSubmit()" #form="ngForm">
        <div class="form-group">
            <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Nome</mat-label>
                <input matInput placeholder="nome" name="nome" id="nome" [(ngModel)]="visitante.nome" required>
            </mat-form-field>
        </div>
        <div class="form-group">
            <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Telefone</mat-label>
                <input matInput maxlength="12" placeholder="telefone" name="telefone" id="telefone" [(ngModel)]="visitante.telefone" required>
            </mat-form-field>
        </div>
        <div class="form-group">
            <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>E-mail</mat-label>
                <input matInput placeholder="E-mail" type="email" name="email" id="email" [(ngModel)]="visitante.email" required>
            </mat-form-field>
        </div>
        <div class="text-center">
            <button type="submit" mat-raised-button color="primary" class="example-full-width mt-3" [disabled]="form.form.invalid">Criar conta</button>
        </div>
        
    </form>
</mat-card>
