.corNav{
    background-color: rgb(26, 107, 26);
    color: white;
}
.logo{
    border-radius: 50%;
}
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(33, 37, 41);
    color: white;
    text-align: center;
}
.btsair{
    color: rgb(175, 175, 20);
}
.meio{
    height: 70rem;
}
.plus{
    display: flex;
    align-items: inherit;
    margin-right: 40px;
}
.plus_interno{
    text-align: center; 
    margin-right: 1200px;
    color: rgb(192, 192, 19);
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    line-height: 28px;
    height: 59px;
    width: 125px;
    padding: 7px;
    transition: .3s all;
}
.plus_interno:hover{
    color: yellow;
}