.paravideo{
    height: 45rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -20%;
}

.video{
    width: 90%;
    height: 90%;
}
.titulo{
    display: flex;
    font-size: 4rem;
    margin-left: 20%;
    line-height: 3.5rem;
    font-weight: bold;
    text-transform: uppercase;

    color: tomato;
}
.imagem{
    position: absolute fixed; 
}
@media screen and (max-width: 768px){
    .titulo{
        font-size: 2rem;
        line-height: 2rem;
    }
    .imagem{
        height: 100px;
        width: auto;
    }
    .video{
        width: 100%;
        height: 30%;
    }
    .paravideo{
        height: 55%;
        padding: none;
        display: inherit;
    }
}