<mat-card class="mt-4">
    <h1>Enviar uma mensagem de agradecimento para os visitantes.</h1>
    <hr>
    <mat-form-field appearance="fill">
        <mat-label>Data do culto</mat-label>
        <input matInput [matDatepicker]="picker" [(ngModel)]="data">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
    <br>
    <button (click)="enviarMsg()" mat-raised-button color="primary">Enviar</button>
</mat-card>
