<div class="main">
  <h2 class="text-center"><img class="logo" src="../../../assets/login-logon.svg" alt="idef"></h2>
  <mat-card class="card">
    <h2 class="title-h">Bem-Vindo ao Sistema de Membros</h2>
    <form (ngSubmit)="onSubmit()" #form="ngForm">
      <div class="entrada">
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Login</mat-label>
          <input matInput placeholder="login" name="login" id="login" [(ngModel)]="usuario.login" required>
        </mat-form-field>
      </div>
      <div class="entrada">
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Password</mat-label>
          <input matInput placeholder="password" type="password" name="password" id="password" [(ngModel)]="usuario.password" required>
        </mat-form-field>
      </div>
      <div class="botoes">
        <button type="submit" mat-raised-button color="primary" class="example-full-width mt-3" [disabled]="form.form.invalid">Entrar</button>
        <button type="button" mat-stroked-button color="primary" class="example-full-width" [routerLink]= "['/create-account']">Criar conta</button>
      </div>
    </form>
  </mat-card>
</div>
