<mat-card>
    <h2 class="text-center"><img class="logo" src="https://yt3.ggpht.com/Dm1qJi4wR1K1QK6_v49uXjkcKzwhRqEFRYJ0_AegP3a56zWm-Z-F7e1nLFj1No-zJqhiunyZhKA=s88-c-k-c0x00ffffff-no-rj" alt="idef">
    </h2>
    <h2 class="text-center">Bem-Vindo ao Sistema de Visitantes</h2>
    <form (ngSubmit)="onSubmit()" #form="ngForm">
        <div class="form-group">
            <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Login</mat-label>
                <input matInput placeholder="login" name="login" id="login" [(ngModel)]="usuario.login" required>
            </mat-form-field>
        </div>
        <div class="form-group">
            <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Password</mat-label>
                <input matInput placeholder="password" type="password" name="password" id="password" [(ngModel)]="usuario.password" required>
            </mat-form-field>
        </div>
        <div class="text-center">
            <button type="submit" mat-raised-button color="primary" class="example-full-width mt-3" [disabled]="form.form.invalid">Entrar</button>
            <button type="button" mat-stroked-button color="primary" class="example-full-width" [routerLink]= "['/create-account']">Criar conta</button>
        </div>
        
    </form>
</mat-card> 