@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

.title-h{
  font-family: 'Bebas Neue', cursive;
  font-size: 30px;
  color: #444444;
  margin-bottom: 2.5rem;
  padding-top: 1.5rem;
}
.example-full-width {
    width: 100%;
  }

.main{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.card{
  width: 380px;
  height: 400px;
  box-shadow: 5px 5px 15px rgb(0, 0, 0, 0.5);
}
.entrada{
  margin-bottom: -10px;
}
.botoes{
  margin-top: 0;
}
@Media(max-width:900px){
  .logo{
    width: 80%;
  }
  .main{
    flex-direction: column;
    width: 400px;
  }
  .card{
    width: 300px;
  }
}
