
.paravideo{
    height: 45rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -20%;
}

.video{
    width: 90%;
    height: 90%;
}
.ajustes{
    margin-bottom: 10%;
}