<mat-card class="mt-5">
    <mat-card-header>
        <h1>Bem-Vindo ao Sistema de Acolhimento de visitante</h1>
    </mat-card-header>
    <mat-card-content>
        <p>
            Esse sistem tem o objetivo de cuidar das pessoas que visitam a nossa igreja,
            todos queremos que os convidados se sintam muito bem, após um culto incrível.
        </p>
        <p>
            Com esse Sistema podemos cuidar do <strong>PÓS-CULTO</strong>.
        </p>
        <h3>Há, mas o que é o pós culto ?</h3>
        <p>
            O pós culto é você enviar uma menssagem acolhedora para os visitantes após o dia do culto 
            agradescendo pela visita.
        </p>
        <p>
            Com o <strong>SISTEMA DE VISITANTE</strong> ao termino do culto, podemos fazer um cadastro de forma rápida e ágil
            por um dispositivo móvel <mat-icon>phonelink_ring</mat-icon> e enviarmos menssagem em massa por whatsapp.
            Menssagens de Agradecimento e De Ausência.
        </p>
        <p>
            Espero ter dado uma breve explicação!
        </p>
    </mat-card-content>
    <mat-card-footer>
        jonathanlauro.dev@gmail.com
    </mat-card-footer>
</mat-card>
