
<mat-card class="mt-5">
    <mat-card-header>
        <h1>Bem-Vindos ao Sistema de Acolhimento aos Visitantes!</h1>
    </mat-card-header>
    <mat-card-content>
        <div class="embed-responsive embed-responsive-21by9">

            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/EYyKM_1o2zY?autoplay=1&controls=0"
             title="YouTube video player"
              allow="accelerometer; autoplay=1; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        <p>
            Este sistema tem como objetivo cuidar das pessoas que visitam a nossa igreja.
            Todos queremos que os convidados se sintam acolhidos após um culto incrível.
        </p>
        <p>
            Com este sistema podemos gerenciar o <strong>PÓS CULTO</strong>.
            O pós culto é uma forma de manter os nossos visitantes sempre por perto através de uma 
            mensagem de agradecimento pela visita. Além disso, poderemos enviar lembretes de próximos 
            eventos da igreja.
        </p>
        <p>
            Com o <strong>SISTEMA DE VISITANTES</strong>, ao término do culto, podemos fazer um cadastro rápido e ágil
            através de um dispositivo móvel <mat-icon>phonelink_ring</mat-icon> e enviar uma mensagem em massa pelo WhatsApp.
        </p>
        <p>
            Vamos juntos avançar o Reino de Deus aqui na terra.🙏
        </p>
    </mat-card-content>
    <mat-card-footer>
        jonathanlauro.dev@gmail.com
    </mat-card-footer>
</mat-card>
